@import '../../scss/main';

.header {
    @include flex-center-center;
    width: 100%;
    height: 80px;

    .logo {
        width: 100px;
        @include flex-center-center;
    }
    
    .content {
        flex-grow: 1;
    }
}