@import '../../../scss/main';

.authHeader {
    width: 150px;

    .accountBloc {
        display: flex;
        flex-direction: column;

        .userDisplay {
            @include flex-center-center;
            font-weight: 600;
            font-size: 1.1em;
            line-height: 50px;
        }

        .buttons {
            cursor: pointer;
            @include flex-between-center;
            font-style: italic;
            font-size: 0.9em;
            margin: 0 10px;
        }
    }
}
