@import '../scss/main';

.layout {
    position: relative;
    @include flex-center-center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    header {
    }
    .main {
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
    }

    footer {
        height: 50px;
    }
}
