@import '../../scss/main';

.managePage {
    display: flex;
    width: 100%;
    height: 100%;

    .navigation {
        width: 200px;

        ul {
            li {
                @include button-base;
            }
        }
    }

    .manageContainer {
        flex-grow: 1;

        > div {
            @include flex-center-center;
            flex-direction: column;
        }

        table {
            margin-top: 40px;
            border-collapse: collapse;
            border-radius: 5px;
            overflow: hidden;
            width: 90%;

            th,
            td {
                border: 1px solid $form-fielset-border-color;
                border-collapse: collapse;
                vertical-align: middle;
                height: 30px;
            }

            th {
                font-weight: 600;
                background-color: $form-fielset-border-color;
            }

            td {
                input,
                select {
                    width: 100%;
                    border: none;
                }

                &:last-child {
                    padding: 0;
                }
            }

            .entropediaImgCell {
                text-align: center;
                vertical-align: middle;
                width: 20px;
                height: 30px;
            }

            .nameCell {
                input {
                    padding-left: 5px;
                }
            }

            .numberCell {
                width: 80px;
                input {
                    text-align: right;
                    padding-right: 5px;
                }
            }

            .checkboxCell {
                width: 80px;
                text-align: center;
                vertical-align: middle;

                input {
                    width: 20px;
                    height: 20px;
                }
            }

            .selectCell {
                width: 160px;
            }

            .actionCell {
                width: 160px;
            }
        }

        .addRowButton {
            @include button-base;
            line-height: 25px;
            width: 50%;
            margin-left: 0;
        }
    }
}
