@import '../../scss/main';

.managePage {
    display: flex;
    width: 100%;
    height: 100%;

    .navigation {
        width: 200px;

        ul {
            li {
                line-height: 45px;
                background-color: $form-fielset-background;
                box-shadow: 0px 0px 2px $form-fielset-border-color;
                margin: 5px;
                border: 1px solid $form-fielset-border-color;
                border-radius: 6px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    font-weight: 700;
                    box-shadow: 0px 0px 8px $form-fielset-border-color;
                }

                &:active {
                    background-color: $form-fielset-background-active;
                    box-shadow: 0px 0px 4px $color-black;
                }
            }
        }
    }

    .manageContainer {
        flex-grow: 1;

        > div {
            @include flex-center-center;
        }

        table {
            margin: auto;
            margin-top: 40px;
            border: 1px solid $form-fielset-border-color;
            border-collapse: collapse;

            th,
            td {
                width: 100px;
                border: 1px solid $form-fielset-border-color;
                border-collapse: collapse;
                padding: 5px 10px;
            }
        }
    }
}
