@import '../../../../scss/main';

.actionButton {
    @include flex-center-center;
    width: 100%;

    span {
        @include button-base;
        line-height: 25px;
        margin: 2px 0 2px 2px;
        width: 100%;

        &:last-child {
            margin-right: 2px;
        }
    }
}
