@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin button-base {
    line-height: 45px;
    background-color: $form-fielset-background;
    box-shadow: 0px 0px 2px $form-fielset-border-color;
    margin: 5px;
    border: 1px solid $form-fielset-border-color;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    &:hover {
        font-weight: 700;
        box-shadow: 0px 0px 8px $form-fielset-border-color;
    }

    &:active {
        background-color: $form-fielset-background-active;
        box-shadow: 0px 0px 4px $color-black;
    }
}
