$color-white: #fff;
$color-black: #000;

$form-fielset-background: #eeeeee;
$form-fielset-border-color: #dddddd;
$form-fielset-border-color-focus: #0000ff;
$form-fielset-border-color-errors: #ff0000;
$form-input-background: #ffffff;
$form-submit-button-background-color: #3333ff;
$form-submit-button-color: #fff;

$color-linkedin: #007bb5;
$color-facebook: #3b5998;
$color-youtube: #ff0000;
$color-twitter: #1da1f2;
$color-instagram: #c32aa3;
