@import './main';

body {
    max-width: 1920px;
    margin: auto;
}

.app {
    height: 100%;

    * {
        box-sizing: border-box;
    }
    h1 {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
        margin: 10px 0;
    }

    input,
    select {
        background-color: inherit;
        font-size: inherit;
        font-family: inherit;
    }

    table {
        margin-top: 20px;
        border-collapse: collapse;
        border-radius: 6px;
        box-shadow: 0px 0px 2px $form-fielset-border-color;
        overflow: hidden;
        width: 100%;
        th,
        td {
            border: 1px solid $form-fielset-border-color;
            border-collapse: collapse;
            vertical-align: middle;
            height: 30px;
        }

        th {
            font-weight: 600;
            background-color: $form-fielset-border-color;
        }
    }
}
