.app {
    height: 100%;

    * {
        box-sizing: border-box;
    }
    h1 {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
        margin: 10px 0;
    }

    input,
    select {
        background-color: inherit;
        font-size: inherit;
        font-family: inherit;
    }
}
